body {
	background-color: #D02828;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
}
a:link {
	color: #FFD042;
}
a:visited {
	color: #FFD042;
}
a:hover {
	color: #FFD042;
}
a:active {
	color: #FFD042;
}
